@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

body {
  background-color: rgb(247, 247, 255);
}

.brand {
  font-family: "Righteous", cursive;
}

.landing-page-image-container {
  width: 18rem;
  margin: 0 auto;
}

.landing-page-image {
  width: 100%;
}

.landing-page-title {
  color: rgb(39, 154, 241);
  font-family: "Righteous", cursive;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* sm */
@media (min-width: 576px) {
  .landing-page-image-container {
    width: 24rem;
  }
}

/* md */
@media (min-width: 768px) {}

/* lg */
@media (min-width: 992px) {
  .landing-page-image-container {
    width: 30rem;
  }
}

/* xl */
@media (min-width: 1200px) {
  .landing-page-image-container {
    width: 35rem;
  }
}

.footer {
  margin-top: 1rem;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 12px;

}


.footerText,
.footerImg {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;

}

#flyoutMenu {
  width: 15vw;
  height: 100vh;
  background-color: rgb(247, 247, 255);

  position: fixed;
  top: 0;
  left: 0;
  transition: transform .6s ease;
  overflow: scroll;
  z-index: 1000;
  box-shadow: -2px 0px darkgrey;

}

#flyoutMenu.hide {
  transform: translate3d(100vw, 0, 0);
}

#flyoutMenu.show {
  transform: translate3d(85vw, 0, 0);
  overflow: hidden;
}

#flyoutMenu h2 a {
  color: #333;
  margin-left: 15px;
  text-decoration: none;
}

#flyoutMenu h2 a:hover {
  text-decoration: underline;
}

#settingsIcon {
  position: fixed;
  top: 20px;
  right: 20px;
}