@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

body {
  background-color: rgb(247, 247, 255);
}

.brand {
  font-family: "Righteous", cursive;
}

.landing-page-image-container {
  width: 18rem;
  margin: 0 auto;
}

.landing-page-image {
  width: 100%;
}

.landing-page-title {
  color: rgb(39, 154, 241);
  font-family: "Righteous", cursive;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* sm */
@media (min-width: 576px) {
  .landing-page-image-container {
    width: 24rem;
  }
}

/* md */
@media (min-width: 768px) {
}

/* lg */
@media (min-width: 992px) {
  .landing-page-image-container {
    width: 30rem;
  }
}

/* xl */
@media (min-width: 1200px) {
  .landing-page-image-container {
    width: 35rem;
  }
}
