.blackjack-page {
    padding-top: 100px;
    padding-bottom: 100px;
}

.game-btn {
    color: white;
    font-family: "Righteous", cursive;
}

.btn-dec {
    background-color: #D3455B;
}

.btn-inc {
    background-color: #207868;
}

.card-list {
    position: relative;
    display: flex;
}

.card {
    display: inline-block;
    height: 200px;
}